
sirs-remoteDocs/.idea/vcs.xml
sirs-remoteDocs/.idea/compiler.xml
sirs-remoteDocs/.idea/compiler.xml
sirs-remoteDocs/.idea/compiler.xml
sirs-remoteDocs/.idea/encodings.xml
sirs-remoteDocs/.idea/jarRepositories.xml
sirs-remoteDocs/.idea/misc.xml
